@import "styles/variables.scss";

.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  @include ev-4;
  display: flex;
  align-items: stretch;
  background-color: white;
}

.headerContainer {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.linkGroup {
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 10px;
    align-self: stretch;
    &.active, &:hover {
      background-color: $active-link-bg;
    }
  }
  button {
    margin-left: 10px;
  }
}

.headerSpacer {
  height: $header-height;
  width: 100%; 
}

.page {
  min-height: 100vh;
  background-color: $bg-light;
}

.signup, .signin {
  
}