@import "modules/_colors.scss";
@import "modules/elevation.scss";

$navbar-width: 230px;
$navbar-width-collapsed: 60px;
$header-height: 60px;

$primary: $dawgspurple;

$active-link-bg: #eee;
$input-border: #eee;
$bg-light: #f9f9f9;